<div class="my-component">
    <h2>Shared Component</h2>
    <p>This is a component that lives in a Razor Class Library. It can be used in:</p> 
    <ul>
        <li>MauiBlazor apps</li>
        <li>Blazor WASM apps</li>
        <li>Blazor Server Apps</li>
    </ul>
    <h2>Sample</h2>
    <p>This sample works with MAUI Using VS 2022 Windows deploying to:</p>
    <ul>
        <li>Windows 11 using WINUi 3</li>
        <li>Windows 11 using WSA</li>
        <li>Android Emulator - Pixel 5 Android 11</li>
        <li>Android Device - Pixel 3a Android 12</li>
        <li>iOS Remote Simulator when paired to mac</li>
        <li>iOS Remote Device</li>
        <li>iOS Device using Hot Restart !!! NO CSS ISOLATION </li>
    </ul>
    <p>This sample works with MAUI Using VS 2022 Mac deploying to:</p>
    <ul>
        <li>iOS Simulator</li>
        <li>MacOs Device</li>
    </ul>
    <h2>Known Issues</h2>
    <ul>
        <li>CSS Isolation doesn't work on iOS on HotRestart when using VS Windows</li>
        <li>Can't deploy to iphone from VSMac</li>
    </ul>
</div>
